/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/open-sans-v34-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v34-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans-v34-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v34-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* background-color: #5a786f; */
  background-color: #ccd2c6;
  font-family: "Open Sans";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #3a4e51;
  color: #ccd2c6;
}

header h1 {
  font-size: 18pt;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  margin-bottom: 55px;
}

.card-box {
  position: relative;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8ba88e;
  border-radius: 15px;
  padding: 10px;
}

.card-question {
  height: 33%;
  margin-top: 25px;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
}

.card-reveal-button {
  background-color: #3a4e51;
  color: #ccd2c6;
  margin-top: 15px;
  border: solid 2px #ccd2c6;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Open Sans";
  font-size: 11pt;
}

.card-answer {
  margin-top: 10px;
  font-size: 10pt;
  padding: 10px;
  visibility: visible;
}

.card-box-tag-area {
  height: 33%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 5px;
}

.card-tag-button {
  background-color: #ccd2c6;
  color: #3a4e51;
  border: dotted 1px #3a4e51;
  border-radius: 5px;
  padding: 5px;
  font-size: 8pt;
}

.bookmark-icon {
  position: absolute;
  top: -5px;
  right: 20px;
}

.bookmark-icon-img {
  height: 35px;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #3a4e51;
  position: fixed;
  bottom: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active,
.nav-button:hover {
  background-color: #303f42;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  margin-top: 25px;
  width: 250px;
  border-radius: 50%;
  border: solid 5px #303f42;
  padding: 5px;
}

.profile-text {
  margin-top: 50px;
  text-align: justify;
}

.profile-cheers {
  display: block;
  text-align: center;
  font-size: larger;
}
