.card__form {
  margin-top: 2em;
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card__form__text {
  height: 5em;
  width: 100%;
}

.card__form__label,
.card__form__button {
  font-size: 0.9em;
}

.card__form__button {
  width: 10em;
  margin-top: 1em;
  align-self: center;
}

.card__form__counter {
  text-align: right;
  font-size: 0.7em;
}

.card__form__counter--red {
  color: red;
}
