.card-form {
  margin-top: 2em;
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-form__text {
  height: 5em;
  width: 100%;
}

.card-form__label,
.card-form__button {
  font-size: 0.9em;
}

.card-form__button {
  width: 10em;
  margin-top: 1em;
  align-self: center;
}

.card-form__counter {
  text-align: right;
  font-size: 0.7em;
}

.card-form__counter--red {
  color: red;
}
