.card {
  position: relative;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8ba88e;
  border-radius: 15px;
  padding: 10px;
}

.card__question {
  height: 33%;
  margin-top: 25px;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
}

.card__reveal-button {
  background-color: #3a4e51;
  color: #ccd2c6;
  margin-top: 15px;
  border: solid 2px #ccd2c6;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Open Sans";
  font-size: 11pt;
}

.card__answer {
  margin-top: 10px;
  font-size: 10pt;
  padding: 10px;
  visibility: visible;
}

.card__tag-list {
  height: 33%;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 5px;
  list-style: none;
}

.card__tag {
  background-color: #ccd2c6;
  color: #3a4e51;
  border: dotted 1px #3a4e51;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 8pt;
  text-decoration: none;
}

.card__bookmark-icon {
  position: absolute;
  top: -5px;
  right: 20px;
}

.card__bookmark-icon__img {
  height: 35px;
}
